#  Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Eccosystem are summarized

# __Objectives__

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Create and run some examples to evaluate arithmetic expressions in Python

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

# Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. ggplot2

#
<table>
<tr>
 <th>Data Science Tools</th>
</tr>
<tr>
 <td>Jupyter Notebook</td>
</tr>
<tr>
 <td>Spyder</td>
</tr>
<tr>
 <td>RStudio</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kristeen Starnes